@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.rounded {
  border-radius: 15px;
}

.email-container,
.password-container {
  position: relative;
  width: 100%;
  display: block;
}

.email-container::before {
  content: "";
  background-image: url(../app/assets/email.png);
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.password-container::before {
  content: "";
  background-image: url(../app/assets/passwordIcon.png);
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.email,
.password {
  padding-left: 35px;
  width: 100%;
}

.main-background {
  background-image: url(../app/assets//background.png);
  background-position: 50%;
  background-color: #6232a8;
}

.sidebar {
  box-shadow: 20px 0 20px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
}

@media only screen and (max-width: 800px) {
  .loginContainer {
    flex-direction: column-reverse;
  }

  .loginContainer > div {
    width: 100%;
    padding: 0px;
    padding-block: 10px;
  }

  .registerContainer {
    padding: 0;
  }

  .registerTitle {
    margin-bottom: 20px;
  }
}

.nextjs-toast-errors-parent {
  display: none;
}
